*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: rgba(30, 28, 28, 0.849);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

h1 {
    text-transform: uppercase;
    font-size: 110px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}
h1 span {
    position: relative;
}
h3 {
    text-transform: uppercase;
    font-size:  20px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}

.container-btns {
    position: relative;
    top: 50px;
}
.btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 24px; /* Reduce the font size */
    padding: 15px 20px; /* Adjust padding */
    width: auto; /* Let the width adjust based on content */
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 20px
}
.btn-first:nth-child(1){
    margin-right: 30px;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #16b95275;
    color: #f1f1f1;
}
.titre {
    position: absolute;
    top: 50%; /* Move the top of the element to the vertical center */
    left: 50%; /* Move the left side of the element to the horizontal center */
    transform: translate(-50%, -50%); /* Translate the element back by half of its own width and height */
    width: 150px;
    height: 150px;
}

.lignes {
    position: absolute;
    top: 5%;
    left: 5%;
}
.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}