*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
    font-weight: bold;
}

a {
    color : inherit;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    margin-top:  auto;
}


.wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.container {
    display: flex;
}

.container.column{
    flex-direction: column;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}


.btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 24px; /* Reduce the font size */
    padding: 15px 20px; /* Adjust padding */
    width: auto; /* Let the width adjust based on content */
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}

.btn-first:nth-child(1){
    margin-right: 30px;
}

.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #16b95275;
    color: #f1f1f1;
}

/* region Form */

form input {
    background-color: #0e0f0f;
    color : #f1f1f1;
    border: 1px solid #787878;
    border-radius: 1.5px;

    padding: 12px 16px 12px 16px;
}

form textarea {
    background-color: #0e0f0f;
    color : #f1f1f1;
    border: 1px solid #787878;
    border-radius: 1.5px;

    padding: 12px 16px 12px 16px;

    resize: none;
}

form .loader--1 {
    align-self: center;
    margin-top: 20px;
}

/* #endregion Form */

select {
    background-color: #0e0f0f;
    color : #f1f1f1;
    border: 1px solid #787878;
    border-radius: 1.5px;

    padding: 12px 16px 12px 16px;
}

/* #region Inputs-group */

.inputs-group {
    padding: 0px 56px 0px 56px;
}

/* #region Inputs-radio-group */

.inputs-radio-group {
    display: flex;
    flex-wrap: wrap;
}

.inputs-radio-group label {
    padding: 0px 24px 0px 12px;
    margin-bottom: 0px !important;
}

/* #endregion Inputs-radio-group */

/* #region Inputs-number-group */

.inputs-number-group {
    display: flex;
    margin-top: 8px;
    
}

.inputs-number-group input {
    padding: 8px 6px;
    margin-right: 6px;
    width: 20%;
}

.inputs-number-group span {
    margin-right: 6px;
    align-self: center;
    font-weight: 400    ;
}

/* #endregion Inputs-number-group */

/* #endregion Inputs-group */

/* #region Input-group */

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.input-group label {
    font-weight: 700;
    margin-bottom: 8px;
}

.input-group .required{
    color: #e91429;
}

/* #endregion Input-group */

.input-checkbox-group {
    display: flex;
}

.input-checkbox-group input[type="checkbox"] {
    margin-right: 8px;
}

.input-checkbox-group:not(:last-child){
    margin-bottom: 8px;
}

.input-checkbox-group label {
    margin-bottom: 0 !important;
}

/* #region Header */

header{
    display: flex;
    justify-content: flex-end;

    background-color: #141414;
    padding : 0% 0% 0% 2.5%;
}

.header-decoration {
    margin-right: auto;
}

img.header-decoration {
    height: 32px;
    margin-top: 18px;
}

.header-search-bar {
    width: 15%;
    align-self: center;
    margin-right: auto;
}

.header-search-bar input {
    background-color: #242424;
    width: 100%;
    height: 32px;
    border: 0;
    border-radius: 500px;
}

/* #endregion Header */

/* #region Navbar */

.navbar ul {
    list-style-type: none;
}

.navbar > ul > *:last-child{
    margin: 0px 25px;
}

.navbar li{
    display: inline-block;
    padding: 25px 0px;
}

.navbar a {
    text-decoration: none;
    padding: 25px;
}   

.navbar a:hover{
    background-color: #16b95275;
}

/* #endregion Navbar */

/* #region Accueil */

.accueil-titre {
    background-color: black;
    padding : 8% 0% 8% 2.5%;
}

.accueil-titre h3 {
    margin-bottom: 20px;
}

.accueil-information {
    background-color: grey;
}

/* #endregion Accueil */

/* #region Titre */

.titre h1 {
    text-transform: uppercase;
    font-size: 110px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}

.titre h3 {
    text-transform: uppercase;
    font-size:  20px;
}

.titre span {
    position: relative;
}

.titre-image {
    position: absolute;
    top: 50%; /* Move the top of the element to the vertical center */
    left: 50%; /* Move the left side of the element to the horizontal center */
    transform: translate(-50%, -50%); /* Translate the element back by half of its own width and height */
    width: 150px;
    height: 150px;
}

/* #endregion Titre */

.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}

/* #region Inscription */

#inscription-form {
    margin-top: 30px;
    width: 450px;
    align-self: center;
}

#inscription-form h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

#inscription-form h3 {
    margin-top: 16px;
}

/* #endregion Inscription */

/* #region Connexion */

#connexion-form {
    margin-top: 30px;
}

#connexion-form > .container {
    align-items: center;
}

/* #endregion Connexion */

/* #region Form-inner */

.form-inner {
    
    padding: 16px 0px 16px;
    width: 324px;
}

/* #endregion Form-inner */

/* #region Form-header */

.form-header {
    justify-content: space-evenly;
}

.form-header-caption-step {
    color: #6a6a6a;
    font-weight: 400;
    padding-bottom: 4px;
}

.form-header-caption-step span {
    color: #6a6a6a;
    font-weight: 400;
    padding-bottom: 4px;
}

.form-header-caption-indication {
    font-weight: 700;
}

/* #endregion Form-header */

.form-button {
    margin-top: 20px;

    font-weight: 700;

    border: 0px;
    border-radius: 20px;
    
    padding : 16px 32px 16px 32px;

    background-color: #1ed760;

    cursor: pointer;
}

/* #region Tab */

.tab {
    display: none;
    flex-direction: column;
}

.tab-previous-button{
    border: none;
    background: none;
    padding: 16px;
    align-self: flex-start;
}

.tab-previous-button:hover{
    cursor: pointer;
}

.tab-previous-button svg {
    width: 24px;
    height: 24px;
    fill:#a7a7a7;
}

.tab-previous-button:hover svg {
    fill: #f1f1f1;
}

/* #endregion Tab */

/* #region Progress-bar */

.progress-bar{
    background-color: #878787; 
    width: 100%; 
    border-radius: 15px; 
}

.progress-bar-fill{
    background-color: #169b45; 
    color: white; 
    padding: 1%; 
    text-align: right; 
    border-radius: 15px; 
}

/* #endregion Progress-bar */

/* #region Error-message */

.error-message {
    margin-top: 8px;
}

.error-message > span {
    color : #f15e6c;
    font-size: 0.875rem;
    font-weight: 400;
}

.error-message-box {
    visibility: collapse;
    padding: 12px 24px 12px 24px;
    background-color: #e91429;
}

.error-message > span {
    font-size: 0.875rem;
    font-weight: 400;
}

/* #endregion Error-message */

/* #region Block */

.block {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #232323;
    border-radius: 10px;
}

.block a:hover {
    cursor: pointer;
}

/* #endregion Block */

/* #region Apercu */ 

.apercu {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    align-self: center;
    width: 800px;
}

.apercu .block > *:first-child {
    padding: 12px 12px 16px 12px;
}

.apercu .block > *:not(:first-child):not(:last-child) {
    padding: 8px 12px 8px 12px;
}

.apercu .block > *:last-child {
    padding: 12px 12px 16px 12px;
}

.apercu  .block a {
    display: flex;
}

/* #endregion Apercu */ 

/* #region Dropdown */

.dropbtn {
    background-color: rgba(0,0,0,.54);
    color: white;
    
    margin-top: 18px;

    width: 32px;
    height: 32px;
    
    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.dropbtn .profil-picture {
    width: 32px;
    height: 32px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #2c2c2c;
    border-radius: 5px;
    padding: 4px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3c3c3c;
    border-radius: 5px;
}

/* #endregion Dropdown */

/* #region Catalogue */

#catalogue {
    display: flex;
    height: 100%;
}


#catalogue > section > h1 {
    padding: 16px;
}

#catalogue__left-sidebar {
    margin: 8px 0px 8px 8px;
    width: 20%;
    background-color: #121212;

    overflow: hidden;
    overflow-y: scroll;
}

#catalogue__left-sidebar a {
    padding: 16px;

    background-color: #242424;
}

#catalogue__left-sidebar form {
    height: 100%;
}

#catalogue__left-sidebar .form-button {
    margin: auto 16px 8px 16px;
}

#catalogue__left-sidebar .dropdown-tab-content {
    margin: 16px;
}

#catalogue__left-sidebar .dropdown-tab-content > .input-group:first-child {
    margin-top: 0px;
}

#catalogue__right-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 8px;
}

.catalogue__user-information {
    display: flex;
    flex-direction: column;
    visibility: collapse;
}

.catalogue__user-information-header {
    padding-left: 20px;
}

.catalogue__user-information-header .tab-previous-button {
    padding-left: 0px;
}

.catalogue__user-information-header .profil-picture {
    width: 128px;
    height: 128px;
}

#catalogue__user-information-header-informations {
    margin-left: 20px;
}

/* #endregion Catalogue */

/* #region User-card */

.user-card {
    display: flex;
    flex-direction: column;
    margin: 8px;
    max-width: 168px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-card .block {
    height: fit-content;
    background-color: black;
    padding: 16px;
    margin-bottom: 8px;
}

.user-card .profil-picture {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 10%;
    align-self: center;
}

.user-card span {
    max-width: inherit;
    align-self: center;
}

/* #endregion User-card */

.dropdown-tab-content {
    display: flex;
    flex-direction: column;
    visibility: collapse;
}

/* #region Messagerie */

#messagerie {
    display: flex;
    height: 100%;   
}

#messagerie__left-sidebar {
    width: 20%;
    margin: 12px;
}

#messagerie__right-sidebar {
    width: 80%;
    margin: 12px 12px 12px 0px;
}

.messagerie__container {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 12px 0px;
    
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;

    overflow: hidden;
    
    overflow-y: scroll;
    
    /* Hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messagerie__container::-webkit-scrollbar {
    display: none;
}

.messagerie__user-profile {
    display: flex;
    background-color:#3a3a3a;
    padding: 16px 12px;
}

.messagerie__user-profile:not(:first-child) {
    margin-top: 8px;
}

.messagerie__user-profile .profil-picture {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.messagerie__input {
    margin-top: auto;
    
}

.messagerie__input textarea {
    width: 100%;
}

.message-date {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    margin-bottom: 16px;
}

.message-date .ligne {
    height: 1px;
    background: #f1f1f1;
    align-self: center;
    flex-grow: 1;
}

.message-date .date {
    padding: 0px 8px;
}

.new-message {
    display: flex;
    margin-top: 4px;
}

.new-message:hover{
    background-color: #0f0f0f;
}

.new-message-content {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.new-message-content-header {
    display: flex;
}

.new-message-content-header + .new-message-content-text {
    margin-top: 16px;
}

.new-message-content-header-pseudo {
    margin-right: 10px;
}

.new-message-content-header-date {
    margin-right: 10px;
}

.new-message-header .profil-picture {
    width: 48px;
    height: 48px;
    object-fit: cover;
    align-self: center;
    margin: 0 16px;
}

.new-message-header + .new-message-content {
    padding-left: 0px;
}

/* #endregion Messagerie */

/* #region Loader */

/* https://cssloaders.github.io/ */

.loader--1 {
    position: relative;
    width: 85px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0),
                        linear-gradient(#FFF 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
    0% { background-size: 10px 3px;}
    16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
    50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
    66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
    83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
    100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}

/* #endregion Loader */
    
.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #169b45; /* Couleur verte inspirée de Spotify */
}

.hero h1 {
    margin: 20px 0;
}

/* #region Plans */

.plans {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.plan {
    display: flex;
    flex-direction: column;
    background-color: #333; /* Fond sombre pour les plans */
    border-radius: 10px; /* Bordures arrondies */
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 250px;
}

.plan h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0;
}

.plan ul li {
    background-color: #444; /* Fond plus clair pour les caractéristiques */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.plan button {
    background-color: #1db954; /* Bouton vert */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: auto;
}

.plan button:hover {
    background-color: #17a744;
}

.plan.premium {
    border: 2px solid #1db954; /* Bordure verte pour le plan premium */
}

/* #endregion Plans */


/* #gestion utilisateur */
 
.btn-gestion {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 24px; /* Reduce the font size */
    padding: 15px 20px; /* Adjust padding */
    width: auto; /* Let the width adjust based on content */
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}


.btn-gestion:hover {
    transition: all 0.3s ease-in-out;
    background: #16b95275;
    color: #f1f1f1;
}
